<header>
    活动列表
    <div class="header-right">
        <a class="btn-style btn-4" ng-click='go_create_activity()'>创建活动</a>
    </div>

</header>

<div id="wrapper" class="wrapper scrollable">
    <ul class="list-style-2">
        <li class=" clearfix btn-default" ng-repeat="activity in activities" ng-click="go_activity_sign_up(activity)">
            <p class="{{activity == currentActivityResult}}" >{{activity}}</p>
            <!--class="{{activity == currentActive}}"-->
            <span class="glyphicon p-right"></span>
        </li>
    </ul>

</div>