<header>
报名-{{persons_count}}
<div class="header-right" ng-switch="is_sign_up">
    <button ng-switch-default  class="btn btn-4"  ng-disabled ="disFlag"  ng-click='start_signing_up() ' >开始</button>
    <button ng-switch-when="start" class="btn btn-4"  ng-disabled ="disFlag"  ng-click='end_signing_up() ' >结束</button>
</div>

<div class="header-left">
    <a class="btn-style btn-4" ng-click='goToActivityList()'>返回</a>
</div>

</header>

<div id="wrapper" class="wrapper scrollable">
    <ul class="list-style-2">
        <li class=" clearfix btn-default" ng-repeat="item in smsItem  track by $index" >
            <p >{{item.message}}</p>
            <i >{{item.phone}}</i>
            <span class="glyphicon  "></span>
        </li>
    </ul>
</div>


<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active">
            <a ><br />报名</a></li>
        <li>
            <a ><br />竞价</a></li>
    </ul>
</footer>