<header>
    <div ng-switch="in_signed_state">
        <p  ng-switch-when="not_signed" >报名</p>
        <p ng-switch-when="signed_yet_or_ing">报名({{informationNumber}})人</p>
    </div>
    <div class="header-right" ng-switch="in_state">
        <button  class="btn-style btn-4" ng-switch-when="end"   ng-click='get_in_start_state() ' >开始</button>
        <button  class="btn-style btn-4" ng-switch-when="recieving" ng-disable= disableFlag      ng-click='get_in_end_state()'>结束</button>
        <button  class="btn btn-4" ng-switch-when="grey"   ng-disabled="true"  >开始</button>
    </div>

<div class="header-left">
    <a class="btn-style btn-4" ng-click='go_activity_list()'>返回</a>
</div>

</header>

<div id="wrapper" class="wrapper scrollable">
    <ul class="list-style-2">
        <li class=" clearfix btn-default" ng-repeat="information in informations " > {{information.name}}
            <p class="p-left">{{information.activity}}</p>
            <i class="p-left">{{information.phone}}</i>
            <span class="glyphicon  "></span>
        </li>
    </ul>
</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active">
            <a href="survey-list.html"><br />报名</a></li>
        <li>
            <a href="survey-history.html"><br />竞价</a></li>
    </ul>
</footer>