<header>
报名
<div class="header-right">
    <a  class="btn-style btn-4" >开始</a>

</div>

<div class="header-left">
    <a href="#"  class="btn-style btn-4" >返回</a>
</div>

</header>

<div id="wrapper" class="wrapper scrollable">
    <ul class="list-style-2">
        <li class=" clearfix btn-default" ng-repeat="event in activities" ng-click='activity_sign_up(event.name)'>
            <p class="p-left">{{event.name}}</p>
            <span class="glyphicon glyphicon-circle-arrow-right p-right"></span>
        </li>
    </ul>

</div>

<footer>
    <ul class="footer-nav footer-nav-2tabs">
        <li class="active"><a href="survey-list.html"><i class="icon-group"></i><br />报名</a></li>
        <li><a href="survey-history.html"><i class="icon-comments"></i><br />竞价</a></li>
    </ul>
</footer>