<header>
    活动列表
    <div class="header-right">
		<a class="btn btn-4" ng-disabled="{{act}}" ng-click='go_create_activity()'>创建活动</a>
    </div>
</header>

<div id="wrapper" class="wrapper scrollable">
    <ul class="list-style-2">
        <li class=" clearfix btn-default" ng-repeat="activity in activities" ng-click="go_activity_sign_up(activity)">
            <h3 class="{{activity == currentActivityResult}}" >{{activity}}</h3>>
            <!--class="{{activity == currentActive}}"-->
			   <!--c<span class="p-left glyphicon p-right"></span>-->
        </li>
    </ul>

</div>
