<header>
    活动列表
    <div class="header-right">
        <a class="btn-style btn-4" ng-click='goToActivityCreate()'>创建活动</a>
    </div>
</header>

<div id="wrapper" class="wrapper scrollable">
    <ul class="list-style-2">
        <li class=listCSS ng-repeat="activitySolo in activityListInMemory"
                          ng-click='clickForDetail(activitySolo)'>
            <p class="{{ activitySolo == ActivedActivity}}">{{activitySolo}}</p>
            <span class="glyphicon p-right"></span>
        </li>
    </ul>
</div>
//background-color: yellow;
//" clearfix btn-default"