header
  | 活动列表
  .header-right
    a.btn.btn-4(ng-disabled='{{act}}', ng-click='go_create_activity()') 创建活动
#WRAPPER_REGISTER_PAGE.wrapper.scrollable
  ul.list-style-2
    li.clearfix.btn-default(ng-repeat='activity in activities', ng-click='go_activity_signup(activity.name)')
      h3(class = "{{activity.state == 'running'}}") {{activity.name}}



