header


    p 竞价


    .header-left


        a.btn-style.btn-4(ng-click='go_activity_list()') 返回




    .header-right


        button.btn-style.btn-4(ng-click='start_new_bid()') 开始
    //
    //.header-right(ng-switch='show_which_btn')
    //    button.btn-style.btn-4(ng-switch-when='active_start', ng-click='start_activity()') 开始
    //    button.btn-style.btn-4(ng-switch-when='end', ng-click='stop_activity()') 结束
    //    button.btn.btn-4(ng-switch-when='disabled_start', ng-disabled='true') 开始
    //.header-left
    //
    //.wrapper.scrollable
    //    ul.list-style-2
    //        li.clearfix.btn-default(ng-repeat='signUpMessage in signUpMessages')
    //            h3 {{signUpMessage.message_name}}
    //            i.p-left {{signUpMessage.message_phone}}

footer
    ul.footer-nav.footer-nav-2tabs
        li
            a
                br
                | 报名
        li.active
            a
                br
                | 竞价


