//
   Created by TanghaoTsui on 14-8-7.


header


    p 竞价


    .header-left


        button.btn-style.btn-4(ng-click='goto_bid_list()') 返回



    .header-right


        button.btn-style.btn-4(ng-click='end_bid_signup()') 结束